- unless @movies.empty?
  %ul{ :class => hide_if_part(@format) }
    - @movies.each do |movie|
      %li( id="movie-#{movie['imdb_id']}" )
        .panel
          .wrapper            
            .control
              %a.close( href='#' ) Close
              %form( action='/subscribe' )
                %input.default( name='subs_mail' type='text' value='Your e-mail' )/
                %input.default( name='subs_twit' type='text' value='Your twitter name' )/
                %input( type='submit' value='Subcribe to movie' )/
                %a.imdb{ :href => "http://www.imdb.com/title/tt#{movie['imdb_id']}" }
                  = "More on IMDb"
            .float_clear
        .card
          - if movie['poster_exists']
            %img{ :src => "http://movie-alert.r09.railsrumble.com/posters/#{movie['imdb_id']}.jpg", :alt => "Poster for movie #{movie['title']}" }/
          %h1= typographer(movie['title'])
          - if movie['release_date']
            .release_date= format_date(movie['release_date'], @time_filter)
      .tooltip
        .info
          .director
            %label Director:
            = movie['director']
          .actors
            %label Actors:
            = display_actors movie
          .director
            %label Genres:
            = display_genres movie
          .plot
            = display_plot movie
  -if @all > @offset + @movies.count
    .next.hide
      .offset.hide= @offset + @movies.count
      %input( type='button' value='Gimme more ↓' )
    
- else
  %h1.empty No movies
