%ul
  - @movies.each do |movie|
    %li( id="movie-#{movie['imdb_id']}" )
      .info.hide
        .director
          %label Director
          = #movie['director']['name']
        .actors
          %label Actors
          = #movie['actors'].map { |i| i['name'] }.join(', ')
        .director
          %label Genres
          = #movie['genres'].map { |i| i['name'] }.join(', ')
      - if movie['poster']
        %img{ :src => poster_thumb(movie['poster'], 150, 200) }/
      %h1= movie['title']
      - if movie['release_date']
        .release_date= format_date(movie['release_date'], @year)
