!!! Strict
%html{ html_attrs('en') }
  %head
    %title Movie alert
    %link( rel='stylesheet' type='text/css' href='/stylesheets/application.css' )
    %script( type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' )
    %script( type='text/javascript' src='/javascripts/jquery.autocomplete.min.js' )  
    %script( type='text/javascript' src='/javascripts/application.js' )   
  %body
    #header
      %form#filters( action='/' )
        %ul
          %li
            %input.default( type='text' name='title' value='Title' )/
          %li
            %input.default( type='text' name='actor' value='Actor' )/
          %li
            %input.default( type='text' name='director' value='Director' )/
          %li
            %select.default( name='genre' )
              %option.default Genre
              - Genres.find.each do |genre|
                %option= genre['name'].capitalize
      %form#subscriptions( action='/subscribe' )
        %ul
          %li#email
            %input.default( name='subs_mail' type='text' value='Your e-mail' )/
          %li#twitter
            %input.default( name='subs_twit' type='text' value='Your twitter name' )/
          %li
            %input( type='submit' value='Subcribe' )/

    #movies
      = yield
    
    %ul#dates
      - @release_months.each_pair do |year, months|
        %li
          %a( href="/?year=#{year}" )= year
          %ul
            - months.each do |month|
              - if Date.today.year.to_s != year or Date.today.month <= month 
                %li
                  %a( href='/?release_date=#{year}-#{month}' )
                    = Date::MONTHNAMES[month]
