!!! Strict
%html{ html_attrs('en') }
  %head
    %title Movie Alert
    %meta( content='text/html; charset=UTF-8' http-equiv='Content-Type' )
    %link( rel='stylesheet' type='text/css' href='/stylesheets/application.css' )
    %script( type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' )
    / %script( type='text/javascript' src='/javascripts/jquery.tools.js' )
    / %script( type='text/javascript' src='/javascripts/jquery.autocomplete.min.js' )
    / %script( type='text/javascript' src='/javascripts/jquery.address.min.js ' )
    / %script( type='text/javascript' src='/javascripts/application.js' )
    %script( type='text/javascript' src='/javascripts/application_compressed.js' )
    %link( href='/favicon.ico' rel='shortcut icon' )
  %body
    %form#header( action='/subscribe' )
      #logo
        Movie Alert
      #info
        Information
      #info-tooltip
        Was make for railsrumble.
        Wote for us =>
        %a( href='http://r09.railsrumble.com/teams/saint-coders')
          saint-coders
      %ul#filters
        %li
          .icon
          %input.filter.default( type='text' name='title' value='Title' )/
        %li
          .icon
          %input.filter.default( type='text' name='actor' value='Actor' )/
        %li
          .icon
          %input.filter.default( type='text' name='director' value='Director' )/
        %li
          %select.filter.default( name='genre' )
            %option.label Genre
            - Genres.find.each do |genre|
              %option= genre['name'].capitalize
    
      %ul#subscriptions.hide
        %li#email
          %input.default( name='subs_mail' type='text' value='Your e-mail' )/
        %li#twitter
          %input.default( name='subs_twit' type='text' value='Your twitter name' )/
        %li
          %input( type='submit' value='Subcribe to current filters' )/
      #description
        To subscribe to movie releases select a filter <span class="arrow">↑</span> or pick a movie <span class="arrow">↓</span>
    
    %ul#dates
      %li
        %a.all.year.used( href='/' ) All
      - @release_months.each_pair do |year, months|
        %li
          %a.year( href="/?year=#{year}" )= year
          %ul
            - months.each do |month|
              - if Date.today.year.to_s != year or Date.today.month <= month.to_i
                %li
                  %a.month( href='/?release_date=#{year}-#{month}' )
                    = Date::MONTHNAMES[month.to_i]

    #movies
      = yield
